.title{
    text-align: center;
<<<<<<< HEAD
    color: #710f27;
=======
    color: #212EA0;
>>>>>>> 31be54648b9e48cf3f4c49815452152a8fe311c0
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}
.title h2{
    font-size: 30px;
    color: #000F38;
    margin-top: 5px;
    text-transform: none;
}