.video-player {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Dark background with transparency */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure the video player is above other content */
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .video-player.hide {
    visibility: hidden;
    opacity: 0;
  }
  
  .video-player video {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow to the video */
  }
  